# =========== Front-end ==========

# --- Devlopment 
API_DEV=http://127.0.0.1:8787

# --- Libraries 
LIT_UNLOCK_CSS=https://cloudflare-unlock-sdk-js-cdn.litgateway.com/0.0.1/lit-unlock.min.css
LIT_UNLOCK_JS=https://cloudflare-unlock-sdk-js-cdn.litgateway.com/0.0.1/lit-unlock.min.js
LIT_ACCESS_CONTROL_MODAL_CSS=https://cdn.jsdelivr.net/npm/lit-access-control-conditions-modal-vanilla-js/dist/main.css
LIT_ACCESS_CONTROL_MODAL_JS=https://cdn.jsdelivr.net/npm/lit-access-control-conditions-modal-vanilla-js/dist/index.js